[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
django-extensions = "==0.6"
djangorestframework-simplejwt = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
